@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.hero,
.footer {
  background: linear-gradient(90deg, #ffdeef 37%, #dff3fa 100%);
}

.health,
.marketplace,
.FAQS {
  background: #ffdeef;
}
